mixin signin-modal
  #signin-modal.modal.fade
    .modal-dialog(style="width:400px")
      .modal-content
        //- .modal-header
        .modal-body
          .clearfix
            h3.pull-left Sign in
            button.close.pull-right(data-dismiss="modal") &times;
          form#signin-form(role="form")
            .form-group
              label.sr-only(for="email")
              input#email.form-control(type='text', name='email', placeholder='Email')
            .form-group
              label.sr-only(for="password")
              input#password.form-control(type='password', name='password', placeholder='Password')
            button#signin-trigger.btn.btn-primary.btn-block(type='submit', style="margin-top:10px;height:40px;") Login
            div(style="text-align:center;margin-top:5px;font-size:12px")
              a(href="#") Forgot Your Password?
            div#error-block.alert.alert-danger(style="display:none;text-align:center;margin-top:15px;")
        //- .modal-footer

  script.
    $(document).ready( function () {
      $('#signin-modal').modal({
        show : false,
        keyboard : true
      })
 
      $('#signin-modal').on('show', function () {
        $('#email').focus();
      })

      function validatePassword (password) {
        if (password.length < 6) {
          return false;
        }

        return true;
      }

      $(function () {
        $('#signin-form').submit(function (e) {
          e.preventDefault(); //Prevent default submission

          if ( validatePassword($('#password').val()) ) {

            $.ajax({
              url: '/login',
              type: 'POST',
              data: $(this).serialize(),
              beforeSend: function () {
                $('#signin-trigger').attr('disabled', true).html('Logging in...');
                $('#email').attr('disabled', true);
                $('#password').attr('disabled', true);
              }, success: function (response) {
                window.location.reload();
              }, error: function (response) {
                $('#error-block').html('Username or password incorrect').show();
                $('#signin-trigger').removeAttr('disabled').html('Login');
                $('#email').removeAttr('disabled');
                $('#password').removeAttr('disabled');
              }
            });
          } else {
            alert('The password entered is not valid. Not sending');
          }
        })
      });
    });
