#upload-modal.modal(tabindex='-1', aria-hidden='true', data-backdrop='static', style='display: none;')
  form#s3-upload-form(action='http://nrmitchi.schedules.s3.amazonaws.com/', method='post', enctype='multipart/form-data', style="margin:0")
    .modal-header
      h3 Upload Schedule
    .modal-body
    
      div  
        label.control-label(for='date') Date
        input#upload-schedule-date.datepicker.upload-schedule-info(type='text', name='date', placeholder='YYYY-MM-DD')

    .modal-footer
      button.btn(data-dismiss='modal') Cancel
      button#new-empty-schedule-button.btn.btn-success(name='dontsubmit') Create
      // button#upload_submit.btn.btn-success(name='submit2') Upload