!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title #{site_name} | Admin
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='nrmitchi')
    // Le styles
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/jquery-ui-1.8.21.custom.css', rel='stylesheet')
    link(href='/css/admin.css', rel='stylesheet')

    script(src='/js/jquery.js')
    script(src='/js/handlebars-1.0.0.beta.6.js')
    script(src='/js/jquery-ui-1.8.21.custom.min.js')
    script(src='/js/underscore.js')
    script(src='/js/backbone.js')
    script(src='/js/backbone-pushstate-router.js')
    script(src='/js/admin-application.js')


    script(src='/js/ga.js')
    script(src='/js/addemployee.js')
    script(src="/js/d3.v3.min.js")

    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') #{site_name_lower}
          .nav-collapse
            ul.nav
              li
                a#add-employee-modal-trigger(href='#') Add Employee
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | My Account
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#account', delegate='pushstate') Options
                  li.divider
                  li
                    a(href='logout') Logout
    .container#content

    #add-employee-modal.modal(tabindex='-1', aria-hidden='true', data-backdrop='static', style='display: none;')
      form#add-employee-form(style="margin:0")
        .modal-header
          h3 Add Employee
        .modal-body
          .form-horizontal
            .control-group
              label.control-label First Name
              .controls
                input#first_name(type='text', name='first_name', placeholder='First Name')
            .control-group
              label.control-label Last Name
              .controls
                input#last_name(type='text', name='last_name', placeholder='Last Name')
            .control-group
              label.control-label Email
              .controls
                input#email(type='text', name='email', placeholder='Email')
            .control-group
              label.control-label Username
              .controls
                input#username(type='text', name='username', placeholder='Username')
            .control-group
              label.control-label Password
              .controls
                input#password(type='password', name='password', placeholder='Password')
        .modal-footer
          button.btn(data-dismiss='modal') Cancel
          button.btn.btn-primary(type='submit') Add

    // Placed at the end of the document so the pages load faster
    script(src='./js/bootstrap.js')
    script
      $(document).ready(function() {
        //This should instead pluck the names of all employees

        var data = new Array("Andrew","Brandon","Connor","David","Julie","Michelle","Janice","Jackson","Nicole","Samanth","Evan","Nick","Johnathan","Matt");

        $('.employee-typeahead').typeahead({source: data});

        $('#add-employee-modal-trigger').click(function () {
          $('#add-employee-modal').modal('show');
        })
      });

    script#employee-template(type='text/x-handlebars-template')
      <div class="well">
      <h1 class="name"><%= name =></h1>
      <p class="number"><$= enumber =></p>
      </div>

    script(id='approval-template', type='text/template')

    script(id='schedule-template', type='text/x-handlebars-template')
      include templates/schedule-template
    script(id='schedules-template', type='text/x-handlebars-template')
      include templates/admin-dash-template
    script(id='account-template', type='text/x-handlebars-template')
      include templates/admin-account-template

    //- Included here so that it models can grab templates; Can be included properly with require.js
    script(src='/js/models/EmployeeModel.js')
    script(src='/js/models/ScheduleModel.js')
    script(src='/js/models/ShiftModel.js')

    script(src='/js/collections/EmployeeCollection.js')
    script(src='/js/collections/ScheduleCollection.js')
    script(src='/js/collections/ShiftCollection.js')

    script(src='/js/views/AccountView.js')
    script(src='/js/views/EmployeeView.js')
    script(src='/js/views/ScheduleViewDaily.js')
    script(src='/js/views/ScheduleViewWeekly.js')
    script(src='/js/views/ScheduleViewBiweekly.js')
    script(src='/js/views/ScheduleViewMonthly.js')

    script(src='/js/views/ScheduleViewD3.js')

    script(src='/js/views/SchedulesView.js')