!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Schedule.me
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='nrmitchi')
    // Le styles
    link(href='./css/bootstrap.css', rel='stylesheet')
    link(href='./css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', media='screen,print', href='./css/jquery-ui-1.8.21.custom.css')
    style
      @media (min-width: 979px) {
        body {
          padding-top: 60px;
        }
      }
      @media (max-width: 979px) {
        body {
          padding-top: 0px;
        }
      }
      .page {
        display:none;
        visibility:hidden;
      } .page.active {
        display:block;
        visibility:visible;
      } .add-another strong {
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        -ms-border-radius: 2px;
        -khtml-border-radius: 2px;
        border-radius: 2px;
        display: block;
        border: 1px dashed #CCC;
        line-height: 78px;
      } .add-another {
        display: block;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        height: 80px;
        background: white;
        border: 1px solid #CCC;
        padding: 5px;
        text-align: center;
        cursor:pointer;
      } .add-another-wrap {
        background: #EEE;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -o-border-radius: 6px;
        -ms-border-radius: 6px;
        -khtml-border-radius: 6px;
        border-radius: 6px;
        padding: 4px;
      } .add-another:hover {
        background: #E3F0FD;
      } .name, .station {
        text-align:right; /*testing only*/
        font-size:12px;
        line-height:14px;
      } .name {
        text-align:left;
      }
      .schedule-row {
      display:block;
      padding:0;
      margin-bottom:2px;
      min-height:14px;
      } .schedule-row [class*="span"] {
      min-height:14px !important;
      } .schedule-header .snpan24 {
      width:4.166666666666666%;
      float:left;
      /*width:15px;*/
      text-align:left;
      } .schedule-header .snpan24:hover {
      background-color:#777;
      } schedule-row .btn.hidden {
      display:none;
      visibility:hidden;
      }	.schedule-row .btn {
      font-size:11px;
      line-height:12px;
      padding-top:0px;
      padding-bottom:0px;
      display:none;
      visibility:hidden;
      } .schedule-row:hover .btn {
      display:block;
      visibility:visible;
      }
    link(href='./css/bootstrap-responsive.css', rel='stylesheet')
    script(src='./js/jquery.js')
    script(src='./js/handlebars-1.0.0.beta.6.js')
    script(src='http://heapify.ca/js/jquery/jquery-ui-1.8.21.custom.min.js')
    script(src='./js/underscore.js')
    script(src='./js/backbone.js')
    script(src='./js/admin-application.js')
    script(src='./js/jquery.fileupload.js')
    script(src='./js/jquery.ui.widget.js')
    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') schedule.me
          .nav-collapse
            ul.nav
              li.link.schedules.active
                a(href='#schedules') Schedules
              li.link.employees
                a(href='#employees') Employees
              li.link.approvals
                a(href='#approvals')
                  | Approvals
                  span.badge.badge-important 3
              li.link.exchanges
                a(href='#exchanges')
                  | Exchange
                  span.badge.badge-info 5
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | My Account
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#account') Options
                  li.divider
                  li
                    a(href='logout') Logout
          // /.nav-collapse
    .container-fluid
      .page.schedules.active
        .row
          .tabbable.tabs-left
            ul#dates.nav.nav-tabs.span3
              li.nav-header Dates
              li.active
                a(href='#2012-08-20', data-toggle='tab') Today
              li
                a(href='#2012-08-21', data-toggle='tab')
                  | Tuesday, August 21
                  sup st
              li
                a(href='#2012-08-22', data-toggle='tab')
                  | Wednesday, August 22
                  sup nd
              li
                a(href='#2012-08-23', data-toggle='tab')
                  | Thursday, August 23
                  sup rd
              li
                a(href='#2012-08-24', data-toggle='tab')
                  | Friday, August 24
                  sup th
              li.nav-header#prependHere
                hl
              div
                button.btn.btn-success.btn-block.upload-modal-trigger#add_schedule
                  Upload New Schedule
              li.nav-header
                hl
              div
                li.nav-header Past Schedules
                li
                  input#sched-date(type='text', style='width: 90%;')
            .tab-content
              #2012-08-20.tab-pane.active
                h1
                  | August 20
                  small Today
                .schedule
                  // Schedule header
                  .schedule-row.schedule-header.row-fluid.clearfix
                    .span2
                    .span9
                      .snpan24 6
                      .snpan24 7
                      .snpan24 8
                      .snpan24 9
                      .snpan24 10
                      .snpan24 11
                      .snpan24 12
                      .snpan24 1
                      .snpan24 2
                      .snpan24 3
                      .snpan24 4
                      .snpan24 5
                      .snpan24 6
                      .snpan24 7
                      .snpan24 8
                      .snpan24 9
                      .snpan24 10
                      .snpan24 11
                      .snpan24 12
                      .snpan24 1
                      .snpan24 2
                      .snpan24 3
                      .snpan24 4
                      .snpan24 5
                  // Shift Template
                  .schedule-row.row-fluid.clearfix
                    .span2
                      .span6.name Amanda
                      .span6.station WN
                    .span9
                      .shift-slider
                    .span1
                      .edit.btn Edit
                      .save.btn.btn-primary(style='display: none;') Save
                  .schedule-row.row-fluid.clearfix
                    .span2
                      .span6.name Brandon
                      .span6.station DT
                    .span9
                      .shift-slider
                    .span1
                      .edit.btn Edit
                      .save.btn.btn-primary(style='display: none;') Save
                  .schedule-row.row-fluid.clearfix
                    .span2
                      .span6.name Christina
                      .span6.station BK
                    .span9
                      .shift-slider
                    .span1
                      .edit.btn Edit
                      .save.btn.btn-primary(style='display: none;') Save
              #2012-08-21.tab-pane
                h1 August 21
              #2012-08-22.tab-pane
                h1 August 22
              #2012-08-23.tab-pane
                h1 August 23
              #2012-08-24.tab-pane
                h1 August 24
      .page.employees
        .page-header
          h1
            | Employees
            small All your employees with access to this system
        .row-fluid
          .well.clearfix
            .form-inline.span6.clearfix
              input.span6.employee-typeahead(type='text', placeholder='Search Employees...', data-provide='typeahead')
              .span6
                label.checkbox
                  input(type='checkbox')
                  | WN
                label.checkbox
                  input(type='checkbox')
                  | BK
                label.checkbox
                  input(type='checkbox')
                  | DT
            .add-another-wrap.span6.pull-right.clearfix
              .add-another(href='#', rel='#reward_template')
                .button
                  strong Add another employee
        .row-fluid
          .span4
            .well
          .span4
            .well
          .span4
            .well
        .row-fluid
          .span4
            .well
          .span4
            .well
          .span4
            .well
      .page.approvals
        .page-header
          h1
            | Approvals
            small Outstanding requests that still require responses
      .page.exchanges
        .page-header
          h1
            | Exchange
            small Shifts that are available in your schedules
        #search.row-fluid
        #results.row-fluid
          ul#results-list
      .page.account
        .row-fluid
          .tabbable.tabs-left
            ul.nav.nav-tabs
              li.nav-header Options
              li.active
                a(href='#accountoptions', data-toggle='tab') Account Options
              li
                a(href='#billing', data-toggle='tab') Billing
            .tab-content
              #accountoptions.tab-pane.active
                h1(style='margin-bottom: 15px;') Account Options
                .form-horizontal
                  .control-group
                    label.control-label Email: 
                    .controls
                      input#email.input-large(type='text', disabled='disabled')
                      button#edit-email-trigger.btn Edit
                      button#save-email-trigger.btn.btn-primary(style='display: none;') Save
                      p
                  .control-group
                    label.control-label Change Password:
                    .controls.input-large
                      input#oldpassword.input-large(type='password', style='margin-bottom: 9px;', placeholder='Current Password')
                      input#newpassword.input-large(type='password', style='margin-bottom: 9px;', placeholder='New Password')
                      input#newpassword1.input-large(type='password', style='margin-bottom: 9px;', placeholder='Confirm New Password')
                      button#change-password-trigger.btn.input-large(type='button', style='margin-left: 0;') Change!
                      p
              #billing.tab-pane
                h1(style='margin-bottom: 15px;') Billing
                .form-horizontal
                  .control-group
                    label.control-label Label: 
                    .controls
                      input#email.input-large(type='text')
                      p
    #upload-modal.modal(tabindex='-1', aria-hidden='true', data-backdrop='static', style='display: none;')
      .modal-header
        h3 Upload Schedule
      .modal-body
        form(action="http://nrmitchi.schedules.s3.amazonaws.com/",method="post",enctype="multipart/form-data",id="myform")
          input(type="hidden", name="key", id="fld_key")
          input(type="hidden", name="acl", id="fld_acl")
          input(type="hidden", name="success_action_redirect", id="fld_redirect")
          input(type="hidden", name="policy", id="fld_Policy")
          input(type="hidden", name="Content-Type", id="fld_contenttype")
          input(type="hidden", name="AWSAccessKeyId", id="fld_AWSAccessKeyId")
          input(type="hidden", name="signature", id="fld_Signature")
          input(type="file", name="file", id="file", placeholder="file")
          .progress.progress-striped.active
            .bar
          input(type="submit", name="submit2", id="upload_submit", value="Upload").btn.btn-success.btn-large
      .modal-footer
        button.btn(data-dismiss='modal') Cancel
    // /container
    //
    // Placed at the end of the document so the pages load faster
    script(src='./js/bootstrap.js')
    script
      $(document).ready(function() {
      //This should instead pluck the names of all employees
      var data = new Array("Andrew","Brandon","Connor","David","Julie","Michelle","Janice","Jackson","Nicole","Samanth","Evan","Nick","Johnathan","Matt");
      $('.employee-typeahead').typeahead({source: data});
      $('#sched-date').datepicker({
      showOtherMonths: true,
      dateFormat: 'yy-mm-dd',
      maxDate: "+0D"
      });
      $( ".shift-slider" ).slider({
      range: true,
      min: 6,
      max: 30,
      values: [ 8, 12 ],
      step: 0.25,
      slide: function( event, ui ) {
      var start = ui.values[0];
      var start_12 = Math.floor(start % 12);
      var end = ui.values[1];
      var end_12 = Math.floor(end % 12);
      var start_minutes = (start % 1)*60;
      start_minutes = (start_minutes < 10 ? '0' : '') + start_minutes;
      var end_minutes = (end % 1)*60;
      end_minutes = (end_minutes < 10 ? '0' : '') + end_minutes;
      $('#amount').val( (start_12 != '0' ? start_12 : '12' ) + ':' + start_minutes + ((start<12 || start>=24) ? "am" : "pm") + " - " + (end_12 != '0' ? end_12 : '12') + ':' + end_minutes + ((end<12 || end>=24) ? "am" : "pm") );
      }
      });
      $('#edit-email-trigger').click(function () {
      $('#email').removeAttr('disabled');
      $('#save-email-trigger').show();
      $(this).hide();
      });
      $('#save-email-trigger').click(function () {
      function validateEmail(email) {
      var re = /^(([^<>()[\\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
      }
      if (validateEmail($('#email').val())) {
      console.log('email valid. changing email');
      $('#email').attr('disabled','');
      $('#edit-email-trigger').show();
      $(this).hide();
      } else {
      console.log('the entered email is not valid');
      }
      });
      $('#change-password-trigger').click(function () {
      function validateOldPasswords () {
      var newpass = $('#newpassword').val();
      var newpass1 = $('#newpassword1').val();
      if (newpass.length < 6) {
      return 3;
      }
      if (newpass != newpass1) {
      return 2;
      }
      return 1;
      }
      console.log('validating password change...');
      var validate = validateOldPasswords();
      if (validate == 1) {
      console.log('Inputs valid.');
      //Ajax request to change password
      } else if (validate == 2) {
      console.log('The new password entries must match.');
      } else if (validate == 3) {
      console.log('Your new password must be at last 6 characters long');
      }
      });
      $('.ui-slider-handle').hide();
      });
      $('.upload-modal-trigger').click(function () {
        $('#upload-modal').modal('show');
      });
    script#employee-template(type='text/x-handlebars-template')
      <div class="well">
      <h1 class="name"><%= name =></h1>
      <p class="number"><$= enumber =></p>
      </div>
    // Note: I will probably use the jquery UI slider for each shift on admin page
    script#shift-template(type='text/x-handlebars-template')
      <div class="span2">
      <div class="span6 name">{{name}}</div>
      <div class="span6 station">{{pos}}</div>
      </div>
      <div class="span9">
      <div class="shift-slider"></div>
      </div>
      <div class="span1 btn edit-shift">Edit</div>
      <div class="span1 btn save-shift">Save</div>
    script#schedule-template(type='text/template')
    script#approval-template(type='text/template')

  script
    //Helpers
    function uploadProgress(evt) {
      if (evt.lengthComputable) {
        var percentComplete = Math.round(evt.loaded * 100 / evt.total);
        document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
      }
      else {
        document.getElementById('progressNumber').innerHTML = 'unable to compute';
      }
    }

    function uploadComplete(evt) {
      /* This event is raised when the server send back a response */
      alert("Done - " + evt.target.responseText );
    }

    function uploadFailed(evt) {
      alert("There was an error attempting to upload the file." + evt);
    }

    function uploadCanceled(evt) {
      alert("The upload has been canceled by the user or the browser dropped the connection.");
    }

    function postCallback ( id ) {

    }

    function processResponse( res1 ) {
      window.res = JSON.parse(res1);

      console.log(res);
      console.log(res.key.toString());

      $("#fld_redirect").val(res.s3Redirect);
      $("#fld_AWSAccessKeyId").val(res.s3Key);
      $("#fld_Policy").val(res.s3PolicyBase64);
      $("#fld_Signature").val(res.s3Signature);
      $("#fld_contenttype").val('application/pdf');
      $("#fld_key").val(res.key);
      $("#fld_acl").val(res.acl);

      console.log('Policy: '+$("#fld_Policy").val());
      console.log('Key: '+$("#fld_key").val());
      console.log('Redirect: '+$("#fld_redirect").val());

      var file = $('#schedule').val();
      var fd = new FormData();

      fd.append('key', res.s3Key);
      fd.append('acl', 'public-read'); 
      fd.append('Content-Type', 'application/pdf');      
      fd.append('AWSAccessKeyId', res.s3Key);
      fd.append('policy', res.s3PolicyBase64)
      fd.append('signature',res.s3Signature);
      fd.append('file', file);

      $.ajax({
        url: 'http://nrmitchi.schedules.s3.amazonaws.com/',
        type: 'POST',
        dateType: 'multipart/form-data',
        data: $('#myform').serialize(),
        success: function () {
          alert('success');
        }, error: function () {
          alert('error');
        }, complete: function () {
          alert('complete');
        }
      });
      /*
      var xhr = new XMLHttpRequest();

      xhr.upload.addEventListener("progress", uploadProgress, false);
      xhr.addEventListener("load", uploadComplete, false);
      xhr.addEventListener("error", uploadFailed, false);
      xhr.addEventListener("abort", uploadCanceled, false);

      xhr.open('POST', 'https://nrmitchi.schedules.s3.amazonaws.com/', true); //MUST BE LAST LINE BEFORE YOU SEND 

      xhr.send(fd);
      */

      //$('#myform').submit();
    }

    requestCredentials = function(event) {
      event.preventDefault();

      $.ajax({
        url: "/upload",
        type: 'POST',
        data: '',
        success: function (res) {
          console.log('received success');
          processResponse(res);
        },
        error: function(res, status, error) {
          console.log('received an error');
        }
      });
    }

    $( "#upload_submit" ).bind( "click", requestCredentials );


    /*$(function() {

      //$('.direct-upload').each(function() {

        //var form = $(this)
        var form = $('#myform');

        $('#myform').fileupload({
          url: form.attr('action'),
          type: 'POST',
          autoUpload: true,
          dataType: 'xml', // This is really important as s3 gives us back the url of the file in a XML document
          add: function (event, data) {
            $.ajax({
              url: "/upload",
              type: 'POST',
              dataType: 'json',
              data: '',
              async: false,
              success: function(data) {
                // Now that we have our data, we update the form so it contains all the needed data to sign the request
                console.log('received success');
                processResponse(res);
              }
            })
            data.submit();
          },
          send: function(e, data) {
            $('.progress').fadeIn();
          },
          progress: function(e, data){
            // This is what makes everything really cool, thanks to that callback
            // you can now update the progress bar based on the upload progress
            var percent = Math.round((e.loaded / e.total) * 100)
            $('.bar').css('width', percent + '%')
          },
          fail: function(e, data) {
            console.log('fail')
          },
          success: function(data) {
            // Here we get the file url on s3 in an xml doc
            var url = $(data).find('Location').text()
            console.log('success!');
            $('#real_file_url').val(url) // Update the real input in the other form
          },
          done: function (event, data) {
            //$('.progress').fadeOut(300, function() {
            //  $('.bar').css('width', 0)
            //})
            alert('done!');
          },
        })
      //})
    })*/