!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= site_name
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='nrmitchi')
    // Le styles
    link(href='css/bootstrap.css', rel='stylesheet')
    style
      @media (min-width: 979px) {
        body {
          padding-top: 60px;
        }
      }
      @media (max-width: 979px) {
        body {
          padding-top: 0px;
        }
        #dates.nav.nav-tabs{
          transition: width 1s; 
          -moz-transition: width 1s; 
          -webkit-transition: width 1s; 
          -o-transition: width 1s;

          width:180px;
        }
        #dates.nav.nav-tabs.minimized{
          width:10px;
          overflow-x:hidden;
        }
      }

    script(src='./js/jquery.js')
    script(src='./js/bootstrap.js')
    script(src='./js/underscore.js')
    script(src='./js/backbone.js')
    script(src='./js/handlebars-1.0.0.beta.6.js')
    script(src='./js/dash-application.js')
    script(src='./js/ga.js')

    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') schedule.me
          .nav-collapse
            ul.nav
              //- li.link.shifts.active
              //-   a(href='#shifts') My Shifts
              //- li.link.schedules
              //-   a(href='#schedules') Schedules
              //- li.link.exchanges
              //-   a(href='#exchanges') Exchange
            ul.nav.pull-right
              //- li.dropdown
                //- a.dropdown-toggle(href='#', data-toggle='dropdown')
                //-   | My Account
                //-   b.caret
                //- ul.dropdown-menu
                //-   li
                //-     a(href='#account') Options
                //-   li.divider
              li
                a(href='logout') Logout
    .container
      .page.shifts.active
        h1 My Shifts
        ul#shifts
      .page.schedules
        .row
          .tabbable.tabs-left
            ul#dates.nav.nav-tabs
              li.nav-header Current Schedules
            .tab-content
      .page.exchanges
        h1 Exchange
        #search.row
        #results.row
          ul#results-list
      .page.account
        h1(style='margin-bottom: 15px;') Account Options
        .form-horizontal
          .control-group
            label.control-label Email: 
            .controls
              input#email.input-large(type='text', disabled='disabled')
              button#edit-email-trigger.btn Edit
              button#save-email-trigger.btn.btn-primary(style='display: none;') Save
              p
          .control-group
            label.control-label Change Password:
            .controls.input-large
              input#oldpassword.input-large(type='password', style='margin-bottom: 9px;', placeholder='Current Password')
              input#newpassword.input-large(type='password', style='margin-bottom: 9px;', placeholder='New Password')
              input#newpassword1.input-large(type='password', style='margin-bottom: 9px;', placeholder='Confirm New Password')
              button#change-password-trigger.btn.input-large(type='button', style='margin-left: 0;') Change!
              p
  script
    $(document).ready(function () {

    });
  script(id='schedule-template', type='text/x-handlebars-template')
      include templates/schedule-template