!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= site_name
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='nrmitchi')
    link(href='./css/bootstrap.css', rel='stylesheet')
    script(src='./js/jquery.js')
    script(src='./js/login.js')
    script(src='./js/bootstrap.js')
    script(src='./js/ga.js')
    style
      .navbar-static-top {
      margin-bottom:20px;
      }
  body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          a.brand(href='/') #{site_name_lower}
          ul.nav.pull-right
            li.active
              a(href='/manager-login') Manager Login
            li
              a(href='/login') Employee Login
    .container
      .span4.offset4
        .well
          h1 Manager Login
          form(id="login-form")
            input#email.input-block-level(type='text', name='email', placeholder='Email')
            input#password.input-block-level(type='password', name='password', placeholder='Password')
            label.checkbox
              input(type="checkbox", value="remember-me")
              | Remember me
            button.btn.btn-primary.input-block-level(type='submit') Login
    // /container
