extends newlayout

block append scripts
  - if ( user.admin )
    script(src='/js/vendor/jquery.timepicker.min.js')
    script(src='/components/bootstrap-timepicker/js/bootstrap-timepicker.min.js')
    script(src='/js/vendor/antiscroll.js')
    script(src='/js/admin-application.js')
    script.
      $(document).ready(function() {
        //This should instead pluck the names of all employees

        $('#add-employee-modal-trigger').click(function () {
          $('#add-employee-modal').modal('show');
        })
      });
  - else 
    script(src='/js/dash-application.js')

  script(src='/components/bootstrap-datepicker/js/bootstrap-datepicker.js')

block append styles
  - if ( user.admin )
    link(href='/css/jquery.timepicker.css', rel='stylesheet')
    link(href='/components/bootstrap-timepicker/css/bootstrap-timepicker.min.css', rel='stylesheet')

  link(href='/components/bootstrap-datepicker/css/datepicker.css', rel='stylesheet')
  link(href='/css/vendor/antiscroll.css', rel='stylesheet')

block sidebar-header
  #logo.open.pull-left #{ site_name }
  i#toggle-sidebar-trigger.icon-chevron-right.icon-2x.pull-right

block sidebar-content
  .box-wrap.antiscroll-wrap(style="width:100%")
    .box
      .antiscroll-inner
        .box-inner
          #schedules-list
          - if ( user.admin ) // This NEEDS to be added into a view so that the dash stays constant (or split into two dashes; employer/employee)
            ul#manager-options.nav.nav-list
              li.nav-header
                p Manager Options
              li
                a#employees-link
                  i.icon.icon-fixed-width.icon-group(style="width: 20px;")
                  | Employees
              li
                a#positions-link
                  i.icon.icon-fixed-width.icon-pushpin(style="width: 20px;")
                  | Positions
              li
                a#requests-link
                  i.icon.icon-fixed-width.icon-comments(style="width: 20px;")
                  | Change Requests
          - else
            ul#employee-options.nav.nav-list
              li.nav-header
                p Employee Options
              li
                a#requests-link Change Requests



block sidebar-footer
  a(href="/about") About
  a(href="/about/team") Team

block content-header
  h3#content-view-title.pull-left
  #header-icons.pull-right
    i#ajax-indicator.icon-refresh.icon-spin.icon-2x(style="display:none;")
    - if ( user.admin )
      i#upload-modal-trigger.icon-plus.icon-2x(title="Add Schedule")
      i#settings-trigger.icon-cogs.icon-2x(title="Settings")
    - else

    i#logout-trigger.icon-signout.icon-2x(title="Logout")

block content-content
  #schedule-pane.loading
    #no-schedules.large-message-div
      .icon-inbox.icon-4x
      h5 No current schedules have been uploaded
    #select-schedule.large-message-div
      .icon-circle-arrow-left.icon-4x
      h5 Select a schedule on the left to view it
    #loading.large-message-div
      .icon-refresh.icon-spin.icon-4x
      h5 Loading...
    #loading-error.large-message-div
      .icon-remove.icon-4x
      h5 An Error Occured! We apologize
  include includes/upload-schedule-modal-only-d3

block templates

  script(id='login-template', type='text/x-handlebars-template')
    include templates/login-template
  script(id='approval-template', type='text/x-handlebars-template')

  script(id='schedule-template', type='text/x-handlebars-template')
    include templates/schedule-template
  script(id='schedule-template-spreadsheet', type='text/x-handlebars-template')
    include templates/schedule-gdocSpreadsheet-template
  script(id='schedule-template-table', type='text/x-handlebars-template')
    include templates/schedule-template-table
  script(id='schedule-template-d3', type='text/x-handlebars-template')
    include templates/schedule-template-d3
  script(id='account-template', type='text/x-handlebars-template')
    include templates/admin-account-template
  script(id='edit-shift-template', type='text/x-handlebars-template')
    include templates/edit-shift-template
  script(id='schedule-list-template', type='text/x-handlebars-template')
    include templates/schedule-list-template
  script(id='shift-template', type='text/x-handlebars-template')
    include templates/edit-shift-template

  script(id='employees-template', type='text/x-handlebars-template')
    include templates/employees-template
  script(id='positions-template', type='text/x-handlebars-template')
    include templates/positions-template
  script(id='change-requests-template', type='text/x-handlebars-template')
    include templates/change-requests-template

  script(id='employee-template', type='text/x-handlebars-template')
    include templates/employee-template
  script(id='position-template', type='text/x-handlebars-template')
    include templates/position-template
  script(id='change-request-template', type='text/x-handlebars-template')
    include templates/change-request-template
        
block end-scripts
  script(src='/js/models/BaseModel.js')
  script(src='/js/models/EmployeeModel.js')
  script(src='/js/models/PositionModel.js')
  script(src='/js/models/ScheduleModel.js')
  script(src='/js/models/ShiftModel.js')

  script(src='/js/collections/EmployeeCollection.js')
  script(src='/js/collections/PositionCollection.js')
  script(src='/js/collections/ScheduleCollection.js')
  script(src='/js/collections/ShiftCollection.js')

  script(src='/js/views/AccountView.js')
  script(src='/js/views/EmployeeView.js')
  script(src='/js/views/PositionView.js')
  script(src='/js/views/ChangeRequestView.js')

  script(src='/js/views/ShiftView.js')

  script(src='/js/views/ScheduleView.js')
  script(src='/js/views/ScheduleBaseView.js')

  script(src='/js/views/ScheduleViewPDF.js')

  script(src='/js/views/ScheduleListView.js')

  script(src='/js/views/ScheduleViewD3.js')
  script(src='/js/views/ScheduleViewTable.js')
  script(src='/js/views/ScheduleViewSpreadsheet.js')

  script(src='/js/views/PositionsView.js')
  script(src='/js/views/EmployeesView.js')
  script(src='/js/views/ChangeRequestsView.js')

  script(src='/js/views/UploadScheduleModalView.js')

  script(src='/js/routers/employer-router.js')
  - if ( user.admin )
    script.
      $('#upload-modal-trigger').click( function () {
        $('#upload-modal').modal('show');
      });
      $('#employees-link').click( function () {
        Shiftcheck.Router.navigate('employee-list', { trigger: true });
      });
      $('#positions-link').click( function () {
        Shiftcheck.Router.navigate('position-list', { trigger: true });
      });
      $('#requests-link').click( function () {
        Shiftcheck.Router.navigate('request-list', { trigger: true });
      });