.schedule-tab {
	background-color:#ddd;
	padding:10px;
	list-style-type:none;
	border-bottom: 1px solid #ccc;
	height:30px;
	line-height: 30px;
	font-size: 16px;
}
.navbar-fixed-top {
	margin-bottom: 18px;
}
.container-fluid {
	padding-left:0;
	padding-right:0;
}
#dates {
	margin:0;
}
.row {
	margin-left:0;
}

#content {
	padding:8px;
}
@media (min-width: 980px) {
	#content {
		margin-top:60px;
	}
}