/*@dark-background-color: darken(@base-background-color, 30%);
@background-color: fade(@dark-background-color, 30%);*/
/*@dark-sidebar-background-color: darken(@base-sidebar-background-color, 30%);
@sidebar-background-color: fade(@dark-sidebar-background-color, 85%);*/
body {
  background-color: #ffffff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
#sidebar {
  width: 240px;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #22262e;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
#sidebar a {
  color: whitesmoke;
}
#sidebar #sidebar-header {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 15px;
}
#sidebar #sidebar-header #logo {
  color: whitesmoke;
  font-size: 22px;
  line-height: 40px;
  text-shadow: whitesmoke 0 0 1px;
  overflow-x: hidden;
}
#sidebar #sidebar-header #toggle-sidebar-trigger {
  display: none;
  visibility: hidden;
}
#sidebar #sidebar-content {
  position: absolute;
  width: 100%;
  top: 60px;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.2);
}
#sidebar #sidebar-content a {
  cursor: pointer;
}
#sidebar #sidebar-content #top-buttons {
  padding-top: 8px;
  padding-right: 7px;
}
#sidebar #sidebar-content #top-buttons #add_schedule,
#sidebar #sidebar-content #top-buttons #fetch_schedule {
  padding: 3px;
}
#sidebar #sidebar-content #top-buttons #add_schedule:hover,
#sidebar #sidebar-content #top-buttons #fetch_schedule:hover {
  color: whitesmoke;
}
#sidebar #sidebar-content .help-block.small {
  font-size: 12px;
}
#sidebar #sidebar-footer {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  line-height: 30px;
  padding-left: 7px;
}
#sidebar #sidebar-footer a {
  font-size: 11px;
  font-weight: normal;
  color: #999;
  padding-left: 5px;
  padding-right: 5px;
}
#sidebar #sidebar-footer a:hover {
  color: whitesmoke;
}
#sidebar-slide-handle {
  display: none;
  visibility: hidden;
}
#main-app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 240px;
  right: 0;
  transition: left 0.3s;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  -ms-transition: left 0.3s;
}
#main-app #content-header {
  background-color: rgba(255, 255, 255, 0.3);
}
#main-app #content-header #content-view-title {
  margin-left: 25px;
  font-weight: normal;
}
#main-app #content-header #header-icons {
  margin-right: 20px;
  margin-top: 10px;
  line-height: 50px;
  text-decoration: none;
}
#main-app #content-header #header-icons i {
  color: #999;
  cursor: pointer;
  padding: 10px;
}
#main-app #content-header #header-icons i:hover {
  color: #222;
  text-decoration: none;
}
#main-app #content-content {
  position: absolute;
  top: 60px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #e5e9ec;
}
#main-app #content-content #content {
  padding: 0;
  overflow-x: scroll;
}
#main-app #content-content .large-message-div {
  display: none;
  visibility: hidden;
  font-size: 40px;
  color: #999;
  padding: 50px;
  width: 60%;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
}
#main-app #schedule-pane.no-schedules #no-schedules {
  display: block;
  visibility: visible;
}
#main-app #schedule-pane.select-schedule #select-schedule {
  display: block;
  visibility: visible;
}
#main-app #schedule-pane.loading #loading {
  display: block;
  visibility: visible;
}
#main-app #schedule-pane.loading-error #loading-error {
  display: block;
  visibility: visible;
}
.header {
  height: 60px;
}
@media (max-width: 800px) {
  #sidebar-slide-handle {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 33px;
    border: 3px solid #4d5669;
    background-color: #22262e;
    color: whitesmoke;
    border-left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 40px;
    width: 30px;
    text-align: center;
    padding-top: 10px;
  }
  #sidebar {
    left: -207px;
    z-index: 1;
    /*&:hover, */
  }
  #sidebar #toggle-sidebar-trigger {
    display: block !important;
    visibility: visible !important;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    line-height: 40px;
  }
  #sidebar #toggle-sidebar-trigger:hover {
    color: whitesmoke;
  }
  #sidebar #sidebar-content {
    width: 240px;
  }
  #sidebar div {
    overflow-x: hidden;
  }
  #sidebar.open {
    width: 240px;
    left: 0;
  }
  #sidebar.open #toggle-sidebar-trigger {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  #main-app {
    left: 33px;
  }
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #2d323d;
}
.nav > li > a {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.nav > .active > a {
  color: black;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #22262e !important;
  background-color: #e5e9ec;
}
.admin-only {
  display: none;
  visibility: none;
}
.admin .admin-only {
  display: block;
  visibility: visible;
}
#account-modal .modal-body {
  padding: 0;
  max-height: 500px;
  overflow-x: scroll;
  background-color: #22262e;
}
#account-modal .modal-body .account-nav {
  width: 150px;
  float: left;
}
#account-modal .modal-body .account-nav a {
  color: whitesmoke;
  cursor: pointer;
}
#account-modal .modal-body .setting-views {
  float: left;
  width: 410px;
  background-color: #e5e9ec;
}
#account-modal .modal-body .setting-views .setting-view {
  display: none;
  visibility: hidden;
  min-height: 300px;
  padding-left: 10px;
  padding-right: 10px;
}
#account-modal .modal-body .setting-views .setting-view.active {
  display: block;
  visibility: visible;
}
#account-modal .modal-body .setting-views .setting-view .no-notifications {
  display: none;
}
#account-modal .modal-body .form-horizontal > .control-group > .control-label {
  width: 100px;
}
#account-modal .modal-body .form-horizontal > .control-group > .controls {
  margin-left: 120px !important;
}
@media (max-width: 570px) {
  .modal {
    position: fixed;
    top: 3%;
    right: 3%;
    left: 3%;
    width: auto;
    margin: 0;
  }
  .modal-body {
    height: 60%;
  }
  .modal-body .account-nav {
    width: 30% !important;
  }
  .modal-body .setting-views {
    width: 70% !important;
  }
}
hr.dark {
  border-color: #22262e;
  background-color: #22262e;
}
.centered {
  text-align: center;
}
.hidden {
  display: none;
  visibility: hidden;
}
#console-output {
  border: 1px solid black;
  background-color: white;
  color: black;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 200px;
  overflow: scroll;
}
