#edit-shift-popover.popover(style="display: block;")
  .arrow
  h3.popover-title Edit Shift - 
    span#shift-id-display
  .popover-content
    form#edit-shift-popover-form
      label Employee
      select#employee-edit
      label Position
      select#position-edit
      label Start Time
      .input-append.bootstrap-timepicker
        input#start-time-edit.input-medium(type="text")
        span.add-on
          .icon-time
      //input#start-time-edit(type="text")
      label End Time
      .input-append.bootstrap-timepicker
        input#end-time-edit.input-medium(type="text")
        span.add-on
          .icon-time
      //input#end-time-edit(type="text")
      button#save-shift-trigger.btn.btn-success.btn-block Save Changes
      button#delete-shift-trigger.btn.btn-danger.btn-block Delete Shift