#edit-shift-popover.popover(style="display: block;")
  .arrow
  h3.popover-title Edit Shift - 
    span#shift-id-display
  .popover-content
    form#edit-shift-popover-form
      label Employee
      select#employee-edit
      label Position
      select#position-edit
      label Start Time
      input#start-time-edit(type="text",placeholder="Type something…")
      label End Time
      input#end-time-edit(type="text",placeholder="Type something…")
      button#save-editted-shift.btn.btn-success.btn-block Save Changes