#edit-shift-popover.popover(style="display: block; max-width: 305px;")
  .arrow
  .popover-title.clearfix(style="line-height:22px;")
    strong Edit Shift - 
      span#shift-id-display
    button#view-shift-history-trigger.btn.btn-default.btn-xs.pull-right.admin-only View History
  .popover-content.row(style="margin:0px")
    form.form-horizontal#edit-shift-popover-form
      .form-group
        label.col-sm-4.control-label Employee
        span.col-sm-8
          select#employee-edit.form-control
      .form-group
        label.col-sm-4.control-label Position
        span.col-sm-8
          select#position-edit.form-control
      .form-group
        label.col-sm-4.control-label Start Time
        .input-append.bootstrap-timepicker
          span.col-sm-8
            .input-group
              input#start-time-edit.form-control(type="text", placeholder="End Time")
              span.input-group-addon
                .icon-time
      .form-group
        label.col-sm-4.control-label End Time
        .input-append.bootstrap-timepicker
          span.col-sm-8
            .input-group
              input#end-time-edit.form-control(type="text", placeholder="End Time")
              span.input-group-addon
                .icon-time
    button#save-shift-trigger.btn.btn-success.btn-block Save Changes
    button#delete-shift-trigger.btn.btn-danger.btn-block Delete Shift