#edit-shift-popover.popover(style="display: block;")
	.arrow
	h3.popover-title Edit Shift - 
		span#shift-id-display
	.popover-content 
		label Employee
		input#employee-edit(type="text",placeholder="Type something…")
		label Position
		input#position-edit(type="text",placeholder="Type something…")
		label Start Time
		input#start-time-edit(type="text",placeholder="Type something…")
		label End Time
		input#end-time-edit(type="text",placeholder="Type something…")
