.navbar.navbar-fixed-top
	.navbar-inner
		.containe-fluid(style="text-align: center")
			#mobile-nav-left-space
			span.header-text Schedules
			#mobile-nav-right-space
				ul.nav.pull-right
					li.dropdown
						span.dropdown-toggle(href='#', data-toggle='dropdown')
							i.icon-cog.icon-2x
						ul.dropdown-menu
							li
								a.account-trigger Options
							li.divider
							li
								a.logout-trigger Logout
.container-fluid
	#content-wrapper
		#content
			ul#dates
