.navbar.navbar-fixed-top
	.navbar-inner
		.containe-fluid(style="text-align: center")
			#nav-left-space.pull-left
			span.header-text Schedules
			#nav-right-space.pull-right
				ul.nav.pull-right
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown')
							i.icon-cog
							b.caret
						ul.dropdown-menu
							li
								a.account-trigger Options
							li.divider
							li
								a.logout-trigger Logout
.container-fluid
	#content-wrapper
		#content
			ul#dates
