table.table.table-striped.table-hover
  thead
    tr
      th Position
      th Short Form
      th Description
      th Order
      th Other stuff
  tbody

.well
  h3 Add Position Options

  form#add-position-form.form-horizontal
    .control-group
      label.control-label Position
      .controls
        input#full_name(type='text', name='full_name', placeholder='Full Name')
    .control-group
      label.control-label Short Form
      .controls
        input#position(type='text', name='position', placeholder='Short Form')
    .control-group
      label.control-label Description
      .controls
        textarea#description(name='description', placeholder='Description')
    .control-group
      .controls
        button#add-position-submit.btn.btn-primary Add Position
