table.table.table-striped.table-hover
  thead
    tr
      th Position
      th Short Form
      th Description
      th Order
      th Other stuff
  tbody

.well
  h3 Add Position Options

  form#add-position-form.form-horizontal
    .form-group
      label.control-label.col-sm-2 Position
      span.col-sm-4
        input#full_name.form-control(type='text', name='full_name', placeholder='Full Name')
    .form-group
      label.control-label.col-sm-2 Short Form
      span.col-sm-4
        input#position.form-control(type='text', name='position', placeholder='Short Form')
    .form-group
      label.control-label.col-sm-2 Description
      span.col-sm-4
        textarea#description.form-control(name='description', placeholder='Description')
    .form-group
      span.col-sm-4.col-sm-offset-2
        button#add-position-submit.btn.btn-primary.btn-block Add Position
