  //- i#sched-date.icon-calendar.icon-2x.pull-right
ul#dates.nav.nav-list
  li.nav-header.clearfix
    p.pull-left Current Schedules
    .admin-only.pull-right
      i#fetch_schedule.fetch-date-trigger.icon-search(style="margin-top:3px;")
      input#sched-date.pull-right(type="text", style="visibility:hidden;width:1px;height:1px;")
  li#prependHere
#top-buttons.clearfix.admin-only
  //i#fetch_schedule.fetch-date-trigger.icon-search.icon-2x.pull-right
  //input#sched-date(type="text", style="visibility:hidden;width:1px;height:1px;")
