//- The bucket will have to be changed to schedule-me (or whatever I call it)
//- h3 {{outputDate}}
#edit-area(style="display:none;")
  include edit-shift-template

#d3Target

.well.admin-only
  #add-shift-area
    h5 Add Shift
    .row.form-inline
      .col-sm-3.form-group
        label.sr-only Employee Name
        input#new_shift_employee.form-control(type="text", placeholder="Employee")
      .col-sm-3.form-group
        label.sr-only Position
        input#new_shift_position.form-control(type="text", placeholder="Position")
      .col-sm-3.form-group
        label.sr-only Start Time
        .input-group.bootstrap-timepicker
          input#new_shift_start_time.form-control(type="text", placeholder="Start Time")
          span.input-group-addon
            .icon-time
      .col-sm-3.form-group
        label.sr-only End Time
        .input-group.bootstrap-timepicker
          input#new_shift_end_time.form-control(type="text", placeholder="End Time")
          span.input-group-addon
            .icon-time
    .row
      .col-sm-3.col-sm-offset-9
        button#add_shift_trigger.btn.btn-primary.btn-block.pull-right Add
  #edit-shift-area.clearfix
    h5 Edit Schedule
    .form-horizontal.col-sm-6
      .form-group
        label.control-label.col-sm-2 Timezone
        .col-sm-10
          input#timezone.form-control(type='text', name='schedule[timezone]', value='{{timezone}}')

      button#save-schedule.btn.btn-primary.input-small.pull-right(type='submit') Save
