//- The bucket will have to be changed to schedule-me (or whatever I call it)
h3 {{outputDate}}
#edit-area(style="display:none;")
	include edit-shift-template

table.table.table-condensed.table-striped.table-bordered.table-hover
	//- I still need to make the first row the head somehow
	tbody
		| {{#each json}}
		tr
			| {{#each this}}
			td {{this}}
			| {{/each}}
		| {{/each}}
