//- The bucket will have to be changed to schedule-me (or whatever I call it)
//- h3 {{outputDate}}
#edit-area(style="display:none;")
  include edit-shift-template

#d3Target

.well.admin-only
  #add-shift-area
    h5 Add Shift
    .row-fluid
      .span3
        input#new_shift_employee.input-block-level(type="text", placeholder="Employee")
      .span3
        input#new_shift_position.input-block-level(type="text", placeholder="Position")
      .span3
        .input-append.bootstrap-timepicker
          input#new_shift_start_time.input-mini(type="text", placeholder="Start Time")
          span.add-on
            .icon-time
      .span3
        .input-append.bootstrap-timepicker
          input#new_shift_end_time.input-mini(type="text", placeholder="End Time")
          span.add-on
            .icon-time
    .row-fluid
      .span3.offset9
        button#add_shift_trigger.btn.btn-primary.input-small.pull-right Add
  #add-shift-area
    h5 Edit Schedule
    .form-horizontal.clearfix
      .control-group
        label.control-label Timezone
        .controls
          input#timezone(type='text', name='schedule[timezone]', value='{{timezone}}')

      button#save-schedule.btn.btn-primary.input-small.pull-right(type='submit') Save
