//- The bucket will have to be changed to schedule-me (or whatever I call it)
h1 {{outputDate}}
iframe(src='http://docs.google.com/gview?url=https://s3.amazonaws.com/schedule-me/{{url}}&embedded=true', style='width: 100%; min-width: 200px; height: 700px;', frameborder='0')