extends layout

block append scripts
  script(src='/js/register.js')

block content
  .container
    .col-sm-8.col-sm-offset-2
      .well
        h1 Register

        form#register-form.form-horizontal
          .form-group
            label.control-label.col-sm-4 Company Name
            .col-sm-8
              input#s_company_name.form-control(type='text', name='employer[name]', placeholder='Company Name')
          .form-group
            label.control-label.col-sm-4 Company Phone
            .col-sm-8
              input#s_company_name.form-control(type='text', name='employer[phone]', placeholder='Company Phone')
          hr
          .form-group
            label.control-label.col-sm-4(style="font-size:1.5em;") Admin User
          .form-group
            label.control-label.col-sm-4 First Name
            .col-sm-8
              input#first_name.form-control(type='text', name='user[first_name]', placeholder='First Name')
          .form-group
            label.control-label.col-sm-4 Last Name
            .col-sm-8
              input#last_name.form-control(type='text', name='user[last_name]', placeholder='Last Name')              
          .form-group
            label.control-label.col-sm-4 Email
            .col-sm-8
              input#email.form-control(type='text', name='user[email]', placeholder='Email')
          .form-group
            label.control-label.col-sm-4 Password
            .col-sm-8
              input#password.form-control(type='password', name='user[password]', placeholder='Password')
          .form-group
            label.control-label.col-sm-4 Confirm Password
            .col-sm-8
              input#confirm_password.form-control(type='password', name='user[confirm_password]', placeholder='Confirm Password')

          button.btn.btn-primary.btn-block(type='submit') Register!
