<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Schedule.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="nrmitchi">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      } .page, .schedule {
				display:none;
				visibility:hidden;
			} .page.active, .schedule.active {
				display:block;
				visibility:visible;
			} .schedule-table {
				width:100%;
				padding:1px;
			} .schedule-table tr {
				height:20px;
			} .schedule-table tr th {
				text-align:center;
				font-weight:bold;
				width:3.75%;
				/*max-width:3.75%;*/
			} .schedule-table tr td {
				width:3.75%;
				/*max-width:3.75%;*/
			} .schedule-table tr td.fill {
				background-color:black;
			/*} .schedule-table tr td {
			} .schedule-table tr td {*/
			} .schedule-table tr td.row-header {
				width:10%;
				min-width:175px;
			} .schedule-hour {
				padding:0;
			} .schedule-hour tr td {
				width:25%;
			}
    </style>

    <script src="http://heapify.ca/js/jquery/jquery-1.7.2.min.js"></script>
		<script src="./js/bootstrap.js"></script>

		<script src="http://heapify.ca/js/underscore/underscore.js"></script>
		<script src="http://heapify.ca/js/backbone/backbone.js"></script>

		<script src="js/application.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">schedule.me</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="link shifts active"><a href="#shifts">My Shifts</a></li>
              <li class="link schedules"><a href="#schedules">Schedules</a></li>
              <li class="link upforgrabs"><a href="#upforgrabs">Up for Grabs</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#account">Options</a></li>
									<li class="divider"></li>
									<li><a href="logout.php">Logout</a></li>
								</ul>
							</li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

			<div class="page shifts active">
	      <h1>My Shifts</h1>
				<ul id="shifts">
				</ul>
			</div>
			<div class="page schedules">
				<div class="row">
					<div class="tabbable tabs-left">
						<ul id="dates" class="nav nav-tabs">
							<li class="nav-header">Dates</li>
							<li class="active"><a href="#2012-08-20" data-toggle="tab">Monday, August 20<sup>th</sup></a></li>
							<li><a href="#2012-08-21" data-toggle="tab">Tuesday, August 21<sup>st</sup></a></li>
							<li><a href="#2012-08-22" data-toggle="tab">Wednesday, August 22<sup>nd</sup></a></li>
							<li><a href="#2012-08-23" data-toggle="tab">Thursday, August 23<sup>rd</sup></a></li>
							<li><a href="#2012-08-24" data-toggle="tab">Friday, August 24<sup>th</sup></a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="2012-08-20">
								<h1>Today</h1>
							</div>
							<div class="tab-pane" id="2012-08-21">
								<h1>August 21</h1>
							</div>
							<div class="tab-pane" id="2012-08-22">
								<h1>August 22</h1>
							</div>
							<div class="tab-pane" id="2012-08-23">
								<p>August 23</p>
							</div>
							<div class="tab-pane" id="2012-08-24">
								<p>August 24</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="page upforgrabs">
	      <h1>Up for Grabs</h1>
				<div id="search" class="row">
				</div>
				<div id="results" class="row">
					<ul id="results-list">
					</ul>
				</div>
			</div>
			<div class="page account">
				<h1 style="margin-bottom:15px;">Account Options</h1>
				<div class="form-horizontal">
					<div class="control-group">
						<label class="control-label">Email: </label>
						<div class="controls">
							<input type="text" class="input-large" id="email" disabled>
							<button id="edit-email-trigger" class="btn">Edit</button>
							<button id="save-email-trigger" class="btn btn-primary" style="display:none">Save</button>
							<p></p>		
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Change Password:</label>
						<div class="controls input-large">
							<input type="password" class="input-large" style="margin-bottom:9px;" id="oldpassword" placeholder="Current Password">
							<input type="password" class="input-large" style="margin-bottom:9px;" id="newpassword" placeholder="New Password">
							<input type="password" class="input-large" style="margin-bottom:9px;" id="newpassword1" placeholder="Confirm New Password">
							<button type="button" style="margin-left:0;" class="btn input-large" id="change-password-trigger">Change!</button>
							<p></p>		
						</div>
					</div>
				</div>
			</div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
	<script>
		$(document).ready(function () {
			$('#edit-email-trigger').click(function () {
				$('#email').removeAttr('disabled');
				$('#save-email-trigger').show();
				$(this).hide();
			});
			$('#save-email-trigger').click(function () {
				function validateEmail(email) { 
					var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					return re.test(email);
				} 
				if (validateEmail($('#email').val())) {
					console.log('email valid. changing email');
					$('#email').attr('disabled','');
					$('#edit-email-trigger').show();
					$(this).hide();
				} else {
					console.log('the entered email is not valid');
				}
			});
			$('#change-password-trigger').click(function () {
				function validateOldPasswords () {
					var newpass = $('#newpassword').val();
					var newpass1 = $('#newpassword1').val();
					if (newpass.length < 6) {
						return 3;
					}
					if (newpass != newpass1) {
						return 2;
					}
					return 1;
				}

				console.log('validating password change...');

				var validate = validateOldPasswords();
				if (validate == 1) {
					console.log('Inputs valid.');
					//Ajax request to change password
				} else if (validate == 2) {
					console.log('The new password entries must match.');
				} else if (validate == 3) {
					console.log('Your new password must be at last 6 characters long');
				}
			});
		});
	</script>
</html>
